<section class="slider-panel">
    <label>@HourLabel</label>
    <input type="range" min="0" max="12" step="1" value="@HourValue" @oninput="OnHourInput" />

    <label>@MinuteLabel</label>
    <input type="range" min="0" max="59" step="1" value="@MinuteValue" @oninput="OnMinuteInput" />
</section>
